<header class="sidebar-nav-header">
    <a class="sidebar-nav-logo" href="#">
      {{partial "components/logo-svg"}}
      <!--replacing code from /template/component/logo
      using scalable vector graphics for logo(s v g )
      we will change the logo to suite our need using svg editor ;) 
      the partial handler will just replace the template code in /components/logo-svg thats all.
      -->
    </a>
    <a href="#" class="settings-trigger {{if isShowingSettings 'active'}}" {{action 'toggleSettings'}}
        <span class="mega-octicon octicon-gear"></span>
        <!-- using octicon for the icon for setting
        the gear icon for settings is this octicon  
        clicking on this will call the toggleSettings fucntion in navigation.js controller file
        i.e if isShowSettings property has false value in it will toggle it to true value
        
        now what {if isShowingSettings 'active'} means is that is isShowSetting has true value in it the anchor tag 
        will have its class as class = "settigns-trigger active" so the css rules will be applied to the octicon 
        meaning in the website the gear icon turns green and shows logout and other option also.
        -->
    </a>
      <!-- this code will work only if true value in isShowSeting -->
    {{#if isShowingSettings }} 
        <nav class="settings-nav">
        {{#if session.isAuthenticated}}<!-- if logged in it will show a logout option -->
            <a href="#" class="logout" {{ action 'invalidateSession' }}>{{t "navigation.actions.logout"}}</a>
            <!--this {t navigations} is localization for translation 
            its in app locale its used for localization/internationalization 
            basically its used for translation and nothing else so in the dropsown in settings logout will be displayed
            --> 
        {{else}}
            {{#link-to 'login'}}{{t "navigation.actions.login"}}{{/link-to}}<!--  else a login option -->
        {{/if}}
          <a href="#" {{ action 'about' }}>{{t "navigation.about"}}</a> <!-- normally show about link -->
        </nav>
    {{/if}}

</header>
